body {
	font-family: Bookman;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	background-color: #004d4d;
	color: white;
	line-height: normal;
	text-align: center;
}
h1 {
	font-size: 48px;
}
h2 {
	font-weight: normal;
	font-size: 28px;
}
h3 {
	border-style: double;
	background-color: #004d4d;
	color: white;
	font-size: 28px;
	font-weight: bold;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

a:link {
	color: white;
}

a:visited {
	color: #00cccc;
}

a:hover {
	color: black;
}

img {
	border-style: double;
	width: 720px;
	height: 480px;
	padding: 5px;
}