body {
	font-family: Bookman;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	background-color: #009999;
	color: black;
	line-height: normal;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}
h1 {
	font-size: 48px;
}
h2 {
	font-weight: normal;
	font-size: 28px;
	margin-top: 0em;
	margin-bottom: 0em;
}
h3 {
	border-style: double;
	background-color: #004d4d;
	color: white;
	font-size: 28px;
	font-weight: bold;
	padding: 10px;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
}

h5 {
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
	margin-top: 0em;
	margin-bottom: 0em;
}
ul {
	text-align: left;
}
a:link {
	color: white;
}

a:visited {
	color: #00cccc;
}

a:hover {
	color: black;
}